Package: com.njnu.kai.iconrotator
Name: IconRotator
Version: 0.1-1
Description: 旋转主屏上的图标
Section: System
Depends: firmware (>= 4.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: kai
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

