Package: com.njnu.kai.ClearNotifications
Name: ClearNotifications
Version: 1.0-1
Description: 
Section: System
Depends: firmware (>= 4.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: hongkai.qian
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

