Package: com.njnu.kai.blurrednotificationcenter
Name: BlurredNotificationCenter
Version: 0.1-1
Description: 
Section: System
Depends: firmware (>= 5.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: qhk
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

