Package: com.njnu.kai.preferences
Name: Preferences
Version: 1.0-1
Description: Haha, for iCloud UISwitch
Section: System
Depends: firmware (>= 5.0), mobilesubstrate
Priority: optional
Architecture: iphoneos-arm
Author: kai


